<div class="modal-header">
  <h4 class="modal-title pull-left">Reset Password for {{user.userName}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="resetPasswordForm" (ngSubmit)="saveReset()"> 
<div class="modal-body">
    <div class="form-group">
      <div class="col-md-8 mx-auto  mt-3">
        <input type="password" [ngClass]="{'is-invalid': resetPasswordForm.get('newPassword').errors
        && resetPasswordForm.get('newPassword').touched}" class="form-control" formControlName="newPassword" placeholder="New Password">
        <div class="invalid-feedback" *ngIf="resetPasswordForm.get('newPassword').hasError('required')
          && resetPasswordForm.get('newPassword').touched">
          New Password is required
        </div>
        <div class="invalid-feedback" *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')
          && resetPasswordForm.get('newPassword').touched">
          Password must be at least 4 characters
        </div>
        <div class="invalid-feedback" *ngIf="resetPasswordForm.get('newPassword').hasError('maxlength')
          && resetPasswordForm.get('newPassword').touched">
          Password cannot exceed 8 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 mx-auto mt-3">
        <input type="password" [ngClass]="{'is-invalid': resetPasswordForm.get('confirmPassword').errors
        && resetPasswordForm.get('confirmPassword').touched
        || resetPasswordForm.get('confirmPassword').touched
        && resetPasswordForm.hasError('mismatch')}" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
        <div class="invalid-feedback" *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')
          && resetPasswordForm.get('confirmPassword').touched">
          Confirm Password is required
        </div>
        <div class="invalid-feedback" *ngIf="resetPasswordForm.hasError('mismatch')
        && resetPasswordForm.get('confirmPassword').touched">
          Passwords must match
        </div>
      </div>
    </div>
 </div>
 <div class="modal-footer">
  <button type="submit" [disabled]="!resetPasswordForm.valid" class="btn btn-primary">Submit</button>
  <button class="btn btn-secondary ml-2" type="button" (click)="cancel()">Cancel</button>
 </div>
</form>